*{
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: rgb(248, 248, 248);
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 999999999;
}

.bien {
    animation-duration: 0.6s;
    animation-name: bien;
}

@keyframes bien {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

.sitio {
    animation-duration: 0.8s;
    animation-name: sitio;
}

@keyframes sitio {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

.linkhead {
    transition-duration: 0.5s;
    color: rgb(33, 33, 33);
    text-decoration: none;
}

.linkhead:hover {
    color: #55d875;
}

.Logo {
    width: 90%;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 2.5px;
    transition-duration: 1s;
}

.Logo:hover {
    transform: scale(1.2);
}

.infopreg {
    padding-left: 90px;
    padding-right: 90px;
    animation: infopreg 1s;
    padding-bottom: 5px;
}

@keyframes infopreg {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.infopreg2 {
    padding-left: 100px;
    padding-right: 100px;
    animation: infopreg2 2s;
}

@keyframes infopreg2 {
    0% {
        opacity: 0%;
        transform: translateY(20px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.flecha {
    padding-top: 70px;
    width: 20%;
    animation: flecha 1.6s infinite;
}

@keyframes flecha {
    0% {
        transform: translatex(15px);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translatex(15px);
    }
}

#banner {
    background-image: linear-gradient(230deg, #ff86bd 0, #ff86ac 5%, #ff889c 10%, #ff8b8d 15%, #ff907e 20%, #ff956f 25%, #ff9c62 30%, #ffa256 35%, #ffa84c 40%, #ffaf43 45%, #f2b53c 50%, #e4bb38 55%, #d5c038 60%, #c6c53b 65%, #b5ca41 70%, #a3ce4a 75%, #91d155 80%, #7cd462 85%, #64d770 90%, #44d97f 95%, #00db8f 100%);
    padding-top: 150px;
    padding-bottom: 130px;
    animation: gradient 13s ease-in infinite;
    background-size: 400% 400%;
    font-weight: 100;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#banner2 {
    background-image: url(https://d2v1fnnqbwu22q.cloudfront.net/_imager/files/Shows/BIC/32011/BIC_PetShopBoys_1000x1000_58e3f25adda909ed9b27f56e99326c26.png);
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 6px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0);
}

#banner3 {
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.linkcompra {
    transition-duration: 1s;
    color: #55d875;
    text-decoration: none;
}

.linkcompra:hover {
    transform: scale(1.2);
    color: #b7f582;
}

#content {
    background-color: rgb(248, 248, 248);
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
}

#content5 {
    background-color: rgb(248, 248, 248);
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
}

#contacto {
    background-image: linear-gradient(0, #ffffbd 0, #ffffb5 12.5%, #f6fbac 25%, #e6f7a5 37.5%, #d5f29d 50%, #c3ed97 62.5%, #b0e993 75%, #9ce590 87.5%, #87e190 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-attachment: fixed;
}

.arti1 {
    animation: arti1 3s;
}

@keyframes arti1 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.arti2 {
    animation: arti2 3s;
}

@keyframes arti2 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#content2 {
    background-color: rgb(248, 248, 248);
    padding-top: 160px;
    padding-bottom: 160px;
}

#contentint {
    background-color: rgb(248, 248, 248);
    padding-top: 90px;
}

#contentint2 {
    background-color: rgb(248, 248, 248);
    padding-top: 110px;
}

#contentint3 {
    background-color: rgb(248, 248, 248);
    padding-top: 70px;
}

.neiltitle {
    text-align: center;
    padding-bottom: 10px;
}

.christitle {
    text-align: center;
    padding-bottom: 10px;
}

.neil {
    width: 65%;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
}

.chris {
    width: 65%;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
}

.infotitle {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.infotitle2 {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: center;
}

.info {
    margin: auto;
    text-align: justify;
    padding-top: 2px;
    padding-bottom: 5px;
}

.info2 {
    margin: auto;
    text-align: justify;
    animation: info2 2s;
}

@keyframes info2 {
    0% {
        opacity: 0%;
        transform: translateX(20px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.info3 {
    margin: auto;
    text-align: justify;
    padding-bottom: 60px;
    animation: info3 2s;
}

@keyframes info3 {
    0% {
        opacity: 0%;
        transform: translateX(20px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.info4 {
    text-align: center;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 5px;
    transition-duration: 1.2s;
}

.info4:hover {
    background-color: rgba(71, 71, 71, 0.115);
    border-radius: 60px;
}

.tituinfo {
    text-align: center;
    font-size: larger;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
} 

.ficha {
    background-image: linear-gradient(0, #ffffbd 0, #ffffb5 12.5%, #f6fbac 25%, #e6f7a5 37.5%, #d5f29d 50%, #c3ed97 62.5%, #b0e993 75%, #9ce590 87.5%, #87e190 100%);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    animation: ficha 2s;
    background-attachment: fixed;
}

/*****.sli {
    margin: auto;
    text-align: center;
    display: block;
    width: 50%;
    padding-bottom: 90px;
    border-radius: 20px;
}*****/

@keyframes ficha {
    0% {
        opacity: 0%;
        transform: translateY(20px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

#content_disco {
    background-color: rgb(248, 248, 248);
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}

.años {
    padding-bottom: 30px;
    letter-spacing: 10px;
}

.años2 {
    padding-bottom: 30px;
    letter-spacing: 0;
    font-size:larger;
    color: rgba(33, 33, 33, 0.73);
    animation: años2 1s;
}

@keyframes años2 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.album {
    display: flex;
    transition-duration: 1s;
    text-align: center;
    padding-left: 40px;
}

.album:hover {
    transform: scale(1.2);
    text-align: center;
}

.seis {
    display: flex;
    transition-duration: 1s;
    padding-top: 90px;
    text-align: center;
    padding-left: 40px;
}

.seis:hover {
    transform: scale(1.2);
    text-align: center;
}

footer {
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.Fandom {
    width: 70%;
    padding-bottom: 10px;
    padding-top: 35px;
}

#footfoot {
    display: flex;
    flex-direction: row;
}

.linkfoot {
    transition-duration: 1s;
    color: whitesmoke;
    text-decoration: none;
}

.linkfoot:hover {
    transform: scale(1.2);
    color: #55d875;
}

.redes {
    letter-spacing: 10px;
    background-color: rgba(19, 19, 19, 0.827);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 50px;
}

.item {
    transition-duration: 1s;
    color: whitesmoke;
}

.item:hover {
    transform: scale(1.2);
    color: #55d875;
}

.UP {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 35px;
}

#final {
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
}

.nombre {
    padding-top: 5px;
}

@media only screen and (max-device-width: 990px) and (min-device-width: 500px){

    .Logo {
        max-width: 250px;
        max-height: 250px;
        
    }
    
    .navbar-toggler-icon {
        text-align: center;
    }

    .nav-item {
        text-align: center;
    }

    #content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .infopreg {
        padding-left: 30px;
        padding-right: 30px;
    }

    .infopreg2 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .flecha {
        display:none;

    }

    #textcont {
        padding-bottom: 30px;
        padding-top: 10px;
        margin: auto;
    }

    .arti1 {
        padding-bottom: 80px;
    }

    #content_disco {
        padding-top: 100px;
        padding-bottom: 35px;
    }

    #nowrap_discos {
        flex-wrap: nowrap;
    }

    .album {
        width: 77%;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
        display: block;
        margin: auto;
        padding-right: 35px;
        
    }
    
    .seis {
        width: 77%;
        height: auto;
        text-align: center;
        padding-top: 2px;
        display: block;
        margin: auto;
        padding-right: 35px;    
    }

    .Fandom {
        padding-bottom: 30px;
        padding-top: 10px;
        width: 45%;
    }

    #footfoot {
        flex-direction: column;
    }

    .UP {
        padding-bottom: 30px;
        padding-top: 10px;
        width: 45%;
    }

}

@media only screen and (max-device-width: 499px) and (min-device-width: 300px){

    .Logo {
        max-width: 250px;
        max-height: 250px;
        
    }
    
    .navbar-toggler-icon {
        text-align: center;
        position: center;
    }

    .nav-item {
        text-align: center;
    }

    #content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .infopreg {
        padding-left: 10px;
        padding-right: 10px;
    }

    .infopreg2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .flecha {
        display:none;
    }

    #textcont {
        padding-bottom: 30px;
        padding-top: 10px;
        margin: auto;
    }

    .arti1 {
        padding-bottom: 80px;
    }

    #content_disco {
        padding-top: 100px;
        padding-bottom: 35px;
    }

    #nowrap_discos {
        flex-wrap: nowrap;
    }

    .album {
        width: 92%;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
        padding-right: 5px;
        
    }
    
    .seis {
        width: 92%;
        height: auto;
        text-align: center;
        padding-top: 2px; 
        padding-right: 5px;    
    }

    .Fandom {
        padding-bottom: 30px;
        padding-top: 10px;
        width: 55%;
    }

    #footfoot {
        flex-direction: column;
    }

    .redes {

        letter-spacing: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 55px;
    }

    .UP {
        padding-bottom: 30px;
        padding-top: 10px;
        width: 55%;
    }
    
}